.locais{
  width: 100%;
  padding-bottom: 10px;
  height: auto;
  background-color:#1c1b20;
  border-bottom: 10px solid #32CD32;
}

.container-locais{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.locais-content{
  width: 80%;
}

.locais-content h2{
  text-align: center;
  color: #fff;
  font-size: 2.7rem;
  padding: 10px;
  text-transform: uppercase;
  margin: 0;
}

.locais-card-container{
  width: 100%;
}

.local-card-group{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap; 
}

.local-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 23%;
  height: 310px;
  background-color: #17375c;
  border-radius: 10px;
  -webkit-box-shadow: 7px 5px 11px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 7px 5px 11px 0px rgba(0,0,0,0.6);
  box-shadow: 7px 5px 11px 0px rgba(0,0,0,0.6);
}

.local-card h3{
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.inscricao-local-btn{
  padding: 10px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  width: 95%;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background-color: #32CD32 ;
  font-weight: 500;
  color: #000;
  border-radius: 4px;
  font-size:1.3rem;
  padding: 10px;
  transition-duration: .3s;
  transition-property: transform, background-color, color;
}

.inscricao-local-btn:hover{
  background-color: #fff;
}

@media (max-width: 1791px) {
  .local-card{
    width: 40%;
  } 
}

@media (max-width: 1031px) {
  .local-card{
    width: 100%;
  } 
}


